#logo{
	width: 170px;
	height: 170px;
}

body{
	background-color: #D4E7F5;
	font-family: 'Lato', sans-serif;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.center{
	text-align: center;
}

#landing{
	background-color: #FFFFFF;
	padding-top: 70px;
	padding-bottom: 40px;
	box-shadow: 0 5px 8px 1px rgba(0,0,0,0.13);}

#title{
	color:#4F4F4F;
	text-shadow: 0 2px 1px rgba(0,0,0,0.15);
	letter-spacing: 0.3px;
	padding-bottom: 20px;
}

.message{
	padding-top: 20px;
	height: 30px;
	background-color: #FFFFFF;
}

.listbox{
	background: #FFFFFF;
	box-shadow: 4px 4px 3px -.5px rgba(0,0,0,0.12);
	width: 220px;
	margin: 30px;
	display: inline-block;
	transition: all .2s ease-in-out;
}



.listtitlebox{
	height: 210px;
	background-color:white;
}
.listboxdrop{
	background: #FFFFFF;
	width: 220px;
	max-height: 0px;
	-webkit-transition: all 200ms cubic-bezier(0.675, 0.170, 0.245, 0.795); 
    -moz-transition: all 200ms cubic-bezier(0.675, 0.170, 0.245, 0.795); 
    -ms-transition: all 200ms cubic-bezier(0.675, 0.170, 0.245, 0.795); 
     -o-transition: all 200ms cubic-bezier(0.675, 0.170, 0.245, 0.795); 
        transition: all 200ms cubic-bezier(0.675, 0.170, 0.245, 0.795);
    overflow:hidden;
}

.listboxdrop.active{
	padding-bottom: 20px;
	max-height: 500px;
}

#listtitle{
	position: relative;
	top: 70px;
	font-size: 18px;
	font-weight: 300;
	color: #4F4F4F;
	margin: 5px;

}

.firstletterbox{
	width: 90px;
	height: 90px;
	top: 55px;
	color: white;
	margin: 0 auto;
	position: relative;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	box-shadow: 0 1px 4px 1px rgba(0,0,0,0.25);}
}

.firstletterboxa{
	width: 200px;
	height: 200px;
	color: white;
	margin: 0 auto;
	position: relative;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#firstletter{
	font-size: 28px;
	top:22px;
	position: relative;
}

#addnew{
	color: white;
	top:55px;
	position: relative;
}

.listboxa{
	background: #FFFFFF;
	box-shadow: 4px 4px 3px -.5px rgba(0,0,0,0.12);
	width: 220px;
	margin: 30px;
	margin-bottom: 0px;
	margin-top: 120px;
	position: relative;
}
.listtitleboxa{
	height: 210px;
	transition: all .2s ease-in-out;
	background-color:white;
}
.listtitleboxa:hover{
	transform: scale(1.1);
}

.listform{
	padding-top: 30px;
	height: 90px;
}

#listdetailtitle{
	font-weight: 300;
	font-size: 43px;
	line-height: 40px;
	text-shadow: 0 2px 1px rgba(0,0,0,0.15);
	color: #4F4F4F;
}

#listdetail{
	width: 100%;
	background-color:white;
	padding: 20px;
	box-shadow: 0 2px 4px 0px rgba(0,0,0,0.13);
}

#logodetail{
	width: 35px;
	height: 35px;
	float:left;
}

.entrycontainer{
	margin-top:20px;
	padding-top: 10px;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	text-align: center;
	}

#entry{
	font-size: 10px;
	padding: 5px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #FBFAF8;
}

.textfield{
	max-width: 700px;
	width: 100%;
	padding-left: 20px;
	height: 50px;
	margin-bottom: 20px;
}