{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href ="{% static 'css/bootstrap-theme.css' %}">
		<link rel="stylesheet" href ="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href ="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href = "{% static 'css/style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
  		{% block parent %}
  		{% endblock %}
</html>