{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Comment Detail{% endblock %}
{% block parent %}
	<row>
	<div class="col-md-12 center">
	<h1>{{ entry.entrydescription }}</h1>
	{% if comments %}
	{% for comment in comments %}
	<div>
	<ul>
	<li>{{ comment.comment }} | {{ comment.created_date }} | {{ comment.name }} </li>
	</ul>
	</div>
	{% endfor %}
	{% else %}
	<div>Currently no Comments</div>
	{% endif %}
	</div>
	<hr>
	<form method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary" value="Save">
	<hr>
	<p>
	<a href = "{% url 'website:updateentry' pk=entry.pk %}" class="btn btn-primary">Edit Entry</a>
	<a href = "{% url 'website:deleteentry' pk=entry.pk %}" class="btn btn-danger">Delete Entry</a>
	</p>
    </row>
{% endblock parent %}