{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Delete {{ entry.entrydescription }}{% endblock %}
{% block parent %}
	<h1>Are you sure you want to delete {{ entry.entrydescription }}?</h1>
	<form method='POST'>
	<input type="submit" class="btn btn-danger" value="Delete"><a href="{% url 'website:listdetail' pk=entry.parent.pk %}">Cancel</a>
	</form>
{% endblock parent %}