{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Login{% endblock %}
{% block parent %}
	<div style="width: 100%; height:100%;">
	<div style="width:100%; height:16vh;">
	</div>
	<div class="center" id="landing">
		<img id="logo" src="{% static 'stonestack.svg' %}"/>
        <h1 id="title">Stonestacks</h1>
<a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.avatar&client_id=2989721246.157603362881"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
	<div class="message">
	{% for message in messages %}
	    <p>{{ message }}</p>
	    {% endfor %}</div>
	</div>
	</div>
{% endblock parent %}