{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Delete {{ list.name }}{% endblock %}
{% block parent %}
	<h1>Are you sure you want to delete {{ list.name }}?</h1>
	<form method='POST'>
	<input type="submit" class="btn btn-danger" value="Delete"><a href="{% url 'website:listdetail' pk=list.pk %}">Cancel</a>
	</form>
{% endblock parent %}