{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}List Detail{% endblock %}
{% block parent %}
<div style="background-color: #f2f2f2; width: 100vw; height: 100vh;">
	<row>
	<div class="center">
	<div id="listdetail">
	<a href= "{% url 'website:list'%}"><img id="logodetail" src="{% static 'stonestack.svg' %}"/></a>
	<span id="listdetailtitle">{{ list.name }}</span>
	</div>
	{% if entries %}
	{% for entry, val in entries.items %}
	<div class="entrycontainer">
	<div style="padding-left: 10px;">
	<img src="{{ entry.getUser.avatar }}" style="float: left; width: 55px; height: 55px; -moz-border-radius: 50px;
	-webkit-border-radius: 50px;" /></div>
	<div class="updown" style="float: right; padding: 6px;"><a href="{% url 'website:vote' user=entry.getUser.pk pk=entry.pk %}"><span style="color:#54C28F; text-shadow: 0 1px 1px rgba(0,0,0,0.15);">▲</span></a>: {{ val.upvotes }}<br><span style="color:#E53E4C; text-shadow: 0 1px 1px rgba(0,0,0,0.15);">▼</span>: {{ val.downvotes }}</div>
	
	{{ entry.entrydescription }}<br><br><br>
	<a href = "{% url 'website:entrydetail' pk=entry.pk %}" class="btn btn-primary" style="float: right;">Comments: {{ entry.getComments}}</a>
	{% if curruser == list.creator %}
	<a href = "{% url 'website:updateentry' pk=entry.pk %}" class="btn btn-info" style="float: right;">Edit</a>
	<a href = "{% url 'website:deleteentry' pk=entry.pk %}" class="btn btn-danger" style="float: right;">Delete</a>
	{% endif %}
	<div>
	</div>
	<div id="entry"><p style="float:left;">
	{{ entry.username }} posted on {{ entry.created_at }}</div>	</p>
	</div>
	<hr>
	{% endfor %}
	{% else %}
	<div>Currently no entries</div>
	{% endif %}
	</div>
	<div class="center">
	<form method='POST'>
		{% csrf_token %}
		{{ form.entrydescription}}
		<br>
		<input type="submit" class="btn btn-primary" value="Create Entry">
	</form>
	</div>
    </row>
</div>
{% endblock parent %}