{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}New List{% endblock %}
{% block parent %}
<h1 class="center">{% if not form.instance.pk %}Create a new List{% else %}Edit {{ form.instance.name }}{% endif %}
</h1>
	<row>
	<div class="col-md-12 center">
	<form method='POST'>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary" value="Save">
	</div>
    </row>
{% endblock parent %}