{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}Lists{% endblock %}
{% block parent %}
	<row>
	<div class="main center">
	{% if lists %}
		{% for list in lists %}
	<a href = '{% url "website:listdetail" pk=list.pk %}'>
		<div class="listbox" id="wrap{{list.pk}}">
			<div class="listtitlebox">
			<div class="firstletterbox" style="background-color:#{{ list.randomColor }}">
			<span id="firstletter">{{ list.name|make_list|first|upper }}</span></div>
			<span id="listtitle">{{ list.name }}</span>
			</div></a>
			<div class="listboxdrop" id="list{{list.pk}}">
			{% if list.getEntries %}
			{% for entry in list.getEntries %}<hr>
			<p><a href='{{ entry.get_absolute_url }}'>{{ entry.entrydescription }}</span><br><span style="color:Green">▲</span> {{entry.upVotes}} <span style="color:Red">▼</span> {{entry.downVotes}}</span><br></a></p>
			{% endfor %}
			{% else %}
			<p> No Entries </p>
			{% endif %}
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function(){
		  $("#wrap{{list.pk}}").mouseover(function(){
		   $("#list{{list.pk}}").toggleClass("active");
		  });
		  $("#wrap{{list.pk}}").mouseout(function(){
		   $("#list{{list.pk}}").toggleClass("active");
		  });
		 });
		</script>
		{% endfor %}	
	{% endif %}
	<div class="listbox" id="ugh">
	<div class="listtitleboxa" style="background-color:#36519A;">
	<div class="firstletterboxa">
	<span id="addnew">
		<span style="font-size: 70px">+</span><br>
	</span>
	</div>
	</div>
	<div class="listboxdrop" id="addform">
	<form method='POST' class="listform">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" class="btn btn-primary" value="Create">
	</form>
	</div>
	</div>
	</div>
    </row>
    	<script type="text/javascript">
		$(document).ready(function(){
		$(".firstletterboxa").click(function(){
			   $("#addform").toggleClass("active");
			});
		});
	</script>
 
{% endblock parent %}